body {
    background-image: url("../images/full-bloom.png")
}

.container {
    margin-bottom: 50px;
}

.navbar {
    margin-bottom: 50px;    
}

.my-row {
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    background-color: whitesmoke;
    padding: 10px;
}

.my-row-portfolio {
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
}


.card {
    border-color: transparent;
}

#card-background {
    background-image: url("../images/full-bloom.png")
}

.row {
    padding-bottom: 10px;
}

.navbar-fixed-bottom {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}