.my-row {
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    background-color: whitesmoke;
    padding: 10px;
}

.card {
    border-color: transparent;
}

.row {
    padding-bottom: 10px;
}